$icomoon-font-family: "Morph-Icon" !default;
$icomoon-font-path: "fonts" !default;

$morph-icon-aboutShield: unquote('"\\e900"');
$morph-icon-addContact: unquote('"\\e901"');
$morph-icon-addCreditCard: unquote('"\\e902"');
$morph-icon-addFile: unquote('"\\e903"');
$morph-icon-addFolder: unquote('"\\e904"');
$morph-icon-addFrame: unquote('"\\e905"');
$morph-icon-addFrameAlt: unquote('"\\e906"');
$morph-icon-addFrameAlt2: unquote('"\\e907"');
$morph-icon-addMail: unquote('"\\e908"');
$morph-icon-addMessage: unquote('"\\e909"');
$morph-icon-addMicrophone: unquote('"\\e90a"');
$morph-icon-addPackage: unquote('"\\e90b"');
$morph-icon-addPassword: unquote('"\\e90c"');
$morph-icon-addPhoneCall: unquote('"\\e90d"');
$morph-icon-addShield: unquote('"\\e90e"');
$morph-icon-addStore: unquote('"\\e90f"');
$morph-icon-addTo: unquote('"\\e910"');
$morph-icon-addToBag: unquote('"\\e911"');
$morph-icon-addToBasket: unquote('"\\e912"');
$morph-icon-addToGrid: unquote('"\\e913"');
$morph-icon-addToWallet: unquote('"\\e914"');
$morph-icon-airflow: unquote('"\\e915"');
$morph-icon-airplane: unquote('"\\e916"');
$morph-icon-airPollution: unquote('"\\e917"');
$morph-icon-allowedCargo: unquote('"\\e918"');
$morph-icon-ambulance: unquote('"\\e919"');
$morph-icon-archive: unquote('"\\e91a"');
$morph-icon-aspecratioGrid: unquote('"\\e91b"');
$morph-icon-attachFile: unquote('"\\e91c"');
$morph-icon-attachFolder: unquote('"\\e91d"');
$morph-icon-autoDelete: unquote('"\\e91e"');
$morph-icon-babyCar: unquote('"\\e91f"');
$morph-icon-back: unquote('"\\e920"');
$morph-icon-backward: unquote('"\\e921"');
$morph-icon-backward10seconds: unquote('"\\e922"');
$morph-icon-backward15seconds: unquote('"\\e923"');
$morph-icon-bag: unquote('"\\e924"');
$morph-icon-bagAlt: unquote('"\\e925"');
$morph-icon-bagConfirmed: unquote('"\\e926"');
$morph-icon-basket: unquote('"\\e927"');
$morph-icon-basketAlt: unquote('"\\e928"');
$morph-icon-basketConfirmed: unquote('"\\e929"');
$morph-icon-basketError: unquote('"\\e92a"');
$morph-icon-basketHelp: unquote('"\\e92b"');
$morph-icon-bellNotificationHistory: unquote('"\\e92c"');
$morph-icon-bicycle: unquote('"\\e92d"');
$morph-icon-birthCertificate: unquote('"\\e92e"');
$morph-icon-blockedMails: unquote('"\\e92f"');
$morph-icon-blockedMessage: unquote('"\\e930"');
$morph-icon-blockedPhoneCall: unquote('"\\e931"');
$morph-icon-blockedWallet: unquote('"\\e932"');
$morph-icon-bookmarkedMails: unquote('"\\e933"');
$morph-icon-borderAlign: unquote('"\\e934"');
$morph-icon-bottom: unquote('"\\e935"');
$morph-icon-bus: unquote('"\\e936"');
$morph-icon-BusAlt: unquote('"\\e937"');
$morph-icon-busAlt1: unquote('"\\e938"');
$morph-icon-busStation: unquote('"\\e939"');
$morph-icon-CabinClass: unquote('"\\e93a"');
$morph-icon-camion: unquote('"\\e93b"');
$morph-icon-car: unquote('"\\e93c"');
$morph-icon-carAlt: unquote('"\\e93d"');
$morph-icon-carriage: unquote('"\\e93e"');
$morph-icon-carryingPackages: unquote('"\\e93f"');
$morph-icon-cementMixer: unquote('"\\e940"');
$morph-icon-centerAlign: unquote('"\\e941"');
$morph-icon-chargingStation: unquote('"\\e942"');
$morph-icon-circleProfile: unquote('"\\e943"');
$morph-icon-cloudDust: unquote('"\\e944"');
$morph-icon-cloud: unquote('"\\e945"');
$morph-icon-cloudFolder: unquote('"\\e946"');
$morph-icon-collageFrame: unquote('"\\e947"');
$morph-icon-colorFilter: unquote('"\\e948"');
$morph-icon-colorPicker: unquote('"\\e949"');
$morph-icon-colorPickerEmpty: unquote('"\\e94a"');
$morph-icon-combineItem: unquote('"\\e94b"');
$morph-icon-copy: unquote('"\\e94c"');
$morph-icon-copyItem: unquote('"\\e94d"');
$morph-icon-creditCard: unquote('"\\e94e"');
$morph-icon-creditCardHistory: unquote('"\\e94f"');
$morph-icon-creditCards: unquote('"\\e950"');
$morph-icon-crop: unquote('"\\e951"');
$morph-icon-cropRotateACW: unquote('"\\e952"');
$morph-icon-cropRotateCW: unquote('"\\e953"');
$morph-icon-damagedFile: unquote('"\\e954"');
$morph-icon-damagedFolder: unquote('"\\e955"');
$morph-icon-delete: unquote('"\\e956"');
$morph-icon-deliveredMessage: unquote('"\\e957"');
$morph-icon-disablePassword: unquote('"\\e958"');
$morph-icon-down: unquote('"\\e959"');
$morph-icon-download: unquote('"\\e95a"');
$morph-icon-downloadAlt: unquote('"\\e95b"');
$morph-icon-downloadFile: unquote('"\\e95c"');
$morph-icon-downside: unquote('"\\e95d"');
$morph-icon-downwards: unquote('"\\e95e"');
$morph-icon-edit: unquote('"\\e95f"');
$morph-icon-editContact: unquote('"\\e960"');
$morph-icon-editMail: unquote('"\\e961"');
$morph-icon-editMessage: unquote('"\\e962"');
$morph-icon-electricCar: unquote('"\\e963"');
$morph-icon-electricScooter: unquote('"\\e964"');
$morph-icon-exclude: unquote('"\\e965"');
$morph-icon-excludeAlt: unquote('"\\e966"');
$morph-icon-faceID: unquote('"\\e967"');
$morph-icon-failedCall: unquote('"\\e968"');
$morph-icon-faNumberScan: unquote('"\\e969"');
$morph-icon-fastForward: unquote('"\\e96a"');
$morph-icon-fastRewind: unquote('"\\e96b"');
$morph-icon-favoriteMails: unquote('"\\e96c"');
$morph-icon-favoriteMessage: unquote('"\\e96d"');
$morph-icon-favoriteWallet: unquote('"\\e96e"');
$morph-icon-file: unquote('"\\e96f"');
$morph-icon-fileAlert: unquote('"\\e970"');
$morph-icon-fileConfirmed: unquote('"\\e971"');
$morph-icon-fileEdit: unquote('"\\e972"');
$morph-icon-fingerPrint: unquote('"\\e973"');
$morph-icon-fingerPrintDisabled: unquote('"\\e974"');
$morph-icon-fingerPrintScan: unquote('"\\e975"');
$morph-icon-firelight: unquote('"\\e976"');
$morph-icon-flipHorizontal: unquote('"\\e977"');
$morph-icon-flipVertical: unquote('"\\e978"');
$morph-icon-flyDestination: unquote('"\\e979"');
$morph-icon-flyOrigin: unquote('"\\e97a"');
$morph-icon-fog: unquote('"\\e97b"');
$morph-icon-folder: unquote('"\\e97c"');
$morph-icon-folderConfirmed: unquote('"\\e97d"');
$morph-icon-folderEdit: unquote('"\\e97e"');
$morph-icon-forward: unquote('"\\e97f"');
$morph-icon-forward10seconds: unquote('"\\e980"');
$morph-icon-forward15seconds: unquote('"\\e981"');
$morph-icon-frame: unquote('"\\e982"');
$morph-icon-frameAlt: unquote('"\\e983"');
$morph-icon-friends: unquote('"\\e984"');
$morph-icon-gasStation: unquote('"\\e985"');
$morph-icon-genders: unquote('"\\e986"');
$morph-icon-greenTruck: unquote('"\\e987"');
$morph-icon-grid: unquote('"\\e988"');
$morph-icon-hatchback: unquote('"\\e989"');
$morph-icon-heavyRainy: unquote('"\\e98a"');
$morph-icon-helicopter: unquote('"\\e98b"');
$morph-icon-humidity: unquote('"\\e98c"');
$morph-icon-IceCreamTruck: unquote('"\\e98d"');
$morph-icon-imageFolder: unquote('"\\e98e"');
$morph-icon-incomingCall: unquote('"\\e98f"');
$morph-icon-increaseInTemperature: unquote('"\\e990"');
$morph-icon-intenseSun: unquote('"\\e991"');
$morph-icon-intersect: unquote('"\\e992"');
$morph-icon-invitation: unquote('"\\e993"');
$morph-icon-irisScan: unquote('"\\e994"');
$morph-icon-jumbo: unquote('"\\e995"');
$morph-icon-key: unquote('"\\e996"');
$morph-icon-keyAdd: unquote('"\\e997"');
$morph-icon-keyReset: unquote('"\\e998"');
$morph-icon-left: unquote('"\\e999"');
$morph-icon-list: unquote('"\\e99a"');
$morph-icon-lock: unquote('"\\e99b"');
$morph-icon-lockDisabled: unquote('"\\e99c"');
$morph-icon-lockedFolder: unquote('"\\e99d"');
$morph-icon-lovelyBellNotification: unquote('"\\e99e"');
$morph-icon-lovelyContact: unquote('"\\e99f"');
$morph-icon-mail: unquote('"\\e9a0"');
$morph-icon-mailAlert: unquote('"\\e9a1"');
$morph-icon-mailBox: unquote('"\\e9a2"');
$morph-icon-mailHelp: unquote('"\\e9a3"');
$morph-icon-mailHistory: unquote('"\\e9a4"');
$morph-icon-mailInbox: unquote('"\\e9a5"');
$morph-icon-mailNotification: unquote('"\\e9a6"');
$morph-icon-mainFolder: unquote('"\\e9a7"');
$morph-icon-menProfile: unquote('"\\e9a8"');
$morph-icon-message: unquote('"\\e9a9"');
$morph-icon-messageAlert: unquote('"\\e9aa"');
$morph-icon-messageBox: unquote('"\\e9ab"');
$morph-icon-messageBubble: unquote('"\\e9ac"');
$morph-icon-messageBubbleAlt: unquote('"\\e9ad"');
$morph-icon-messageBubbleColor: unquote('"\\e9ae"');
$morph-icon-messageContent: unquote('"\\e9af"');
$morph-icon-messageHistory: unquote('"\\e9b0"');
$morph-icon-messageThread: unquote('"\\e9b1"');
$morph-icon-metro: unquote('"\\e9b2"');
$morph-icon-metroStation: unquote('"\\e9b3"');
$morph-icon-microCar: unquote('"\\e9b4"');
$morph-icon-microphone: unquote('"\\e9b5"');
$morph-icon-microphoneActivated: unquote('"\\e9b6"');
$morph-icon-microphoneConnected: unquote('"\\e9b7"');
$morph-icon-microphoneError: unquote('"\\e9b8"');
$morph-icon-microphoneIsRecording: unquote('"\\e9b9"');
$morph-icon-microphoneMute: unquote('"\\e9ba"');
$morph-icon-microphoneNoise: unquote('"\\e9bb"');
$morph-icon-miniTruck: unquote('"\\e9bc"');
$morph-icon-missFolder: unquote('"\\e9bd"');
$morph-icon-monyTransfer: unquote('"\\e9be"');
$morph-icon-moon: unquote('"\\e9bf"');
$morph-icon-morphProfile: unquote('"\\e9c0"');
$morph-icon-mostlyCloudy: unquote('"\\e9c1"');
$morph-icon-motionDetection: unquote('"\\e9c2"');
$morph-icon-motionDetectionOff: unquote('"\\e9c3"');
$morph-icon-motorcycle: unquote('"\\e9c4"');
$morph-icon-moveDownFile: unquote('"\\e9c5"');
$morph-icon-moveDownFolder: unquote('"\\e9c6"');
$morph-icon-moveUpFile: unquote('"\\e9c7"');
$morph-icon-moveUpFolder: unquote('"\\e9c8"');
$morph-icon-mute: unquote('"\\e9c9"');
$morph-icon-newMessage: unquote('"\\e9ca"');
$morph-icon-newNotification: unquote('"\\e9cb"');
$morph-icon-next: unquote('"\\e9cc"');
$morph-icon-nightPartlyCloudy: unquote('"\\e9cd"');
$morph-icon-noiseDetection: unquote('"\\e9ce"');
$morph-icon-notification: unquote('"\\e9cf"');
$morph-icon-noVolume: unquote('"\\e9d0"');
$morph-icon-numberScan: unquote('"\\e9d1"');
$morph-icon-oldBasket: unquote('"\\e9d2"');
$morph-icon-oldMicrophone: unquote('"\\e9d3"');
$morph-icon-onePointFiveXPlay: unquote('"\\e9d4"');
$morph-icon-outboxMail: unquote('"\\e9d5"');
$morph-icon-outgoingCall: unquote('"\\e9d6"');
$morph-icon-package: unquote('"\\e9d7"');
$morph-icon-packageConfirmed: unquote('"\\e9d8"');
$morph-icon-partlyCloudy: unquote('"\\e9d9"');
$morph-icon-partlyCloudyAlt: unquote('"\\e9da"');
$morph-icon-passport: unquote('"\\e9db"');
$morph-icon-password: unquote('"\\e9dc"');
$morph-icon-passwordConfirmed: unquote('"\\e9dd"');
$morph-icon-paste: unquote('"\\e9de"');
$morph-icon-pause: unquote('"\\e9df"');
$morph-icon-phone: unquote('"\\e9e0"');
$morph-icon-phoneCallHistory: unquote('"\\e9e1"');
$morph-icon-phoneCallPause: unquote('"\\e9e2"');
$morph-icon-phoneCallReceived: unquote('"\\e9e3"');
$morph-icon-phoneCallRecord: unquote('"\\e9e4"');
$morph-icon-phoneCallRepeat: unquote('"\\e9e5"');
$morph-icon-phoneCallVoice: unquote('"\\e9e6"');
$morph-icon-phoneDisabled: unquote('"\\e9e7"');
$morph-icon-PhoneGrid: unquote('"\\e9e8"');
$morph-icon-phoneIsCalling: unquote('"\\e9e9"');
$morph-icon-pickup: unquote('"\\e9ea"');
$morph-icon-play: unquote('"\\e9eb"');
$morph-icon-playFolder: unquote('"\\e9ec"');
$morph-icon-postTruck: unquote('"\\e9ed"');
$morph-icon-previous: unquote('"\\e9ee"');
$morph-icon-privateBus: unquote('"\\e9ef"');
$morph-icon-privateMessage: unquote('"\\e9f0"');
$morph-icon-profile: unquote('"\\e9f1"');
$morph-icon-protectedFile: unquote('"\\e9f2"');
$morph-icon-protectedFolder: unquote('"\\e9f3"');
$morph-icon-protectedPhoneCall: unquote('"\\e9f4"');
$morph-icon-protectedWallet: unquote('"\\e9f5"');
$morph-icon-qrScanner: unquote('"\\e9f6"');
$morph-icon-rainyFirelight: unquote('"\\e9f7"');
$morph-icon-rainy: unquote('"\\e9f8"');
$morph-icon-receivedMails: unquote('"\\e9f9"');
$morph-icon-removeContact: unquote('"\\e9fa"');
$morph-icon-removeCreditCard: unquote('"\\e9fb"');
$morph-icon-removeFile: unquote('"\\e9fc"');
$morph-icon-removeFolder: unquote('"\\e9fd"');
$morph-icon-removeFrame: unquote('"\\e9fe"');
$morph-icon-removeFrom: unquote('"\\e9ff"');
$morph-icon-removeFromAlt: unquote('"\\ea00"');
$morph-icon-removeFromBag: unquote('"\\ea01"');
$morph-icon-removeFromBasket: unquote('"\\ea02"');
$morph-icon-RemoveFromGrid: unquote('"\\ea03"');
$morph-icon-removeKey: unquote('"\\ea04"');
$morph-icon-removeKeyAlt: unquote('"\\ea05"');
$morph-icon-removeMail: unquote('"\\ea06"');
$morph-icon-removeMessage: unquote('"\\ea07"');
$morph-icon-removeMicrophone: unquote('"\\ea08"');
$morph-icon-removePackage: unquote('"\\ea09"');
$morph-icon-removePhoneCall: unquote('"\\ea0a"');
$morph-icon-removePhoneCallAlt: unquote('"\\ea0b"');
$morph-icon-removeShield: unquote('"\\ea0c"');
$morph-icon-removeShieldAlt: unquote('"\\ea0d"');
$morph-icon-removeStore: unquote('"\\ea0e"');
$morph-icon-removeWallet: unquote('"\\ea0f"');
$morph-icon-reorderFile: unquote('"\\ea10"');
$morph-icon-reorderFolder: unquote('"\\ea11"');
$morph-icon-resetBellNotification: unquote('"\\ea12"');
$morph-icon-resetDelete: unquote('"\\ea13"');
$morph-icon-restoreDelete: unquote('"\\ea14"');
$morph-icon-right: unquote('"\\ea15"');
$morph-icon-ringBellNotification: unquote('"\\ea16"');
$morph-icon-roadster: unquote('"\\ea17"');
$morph-icon-save: unquote('"\\ea18"');
$morph-icon-scan: unquote('"\\ea19"');
$morph-icon-scooter: unquote('"\\ea1a"');
$morph-icon-searchByScan: unquote('"\\ea1b"');
$morph-icon-searchContact: unquote('"\\ea1c"');
$morph-icon-searchFile: unquote('"\\ea1d"');
$morph-icon-searchFolder: unquote('"\\ea1e"');
$morph-icon-searchGrid: unquote('"\\ea1f"');
$morph-icon-searchMails: unquote('"\\ea20"');
$morph-icon-seenMessage: unquote('"\\ea21"');
$morph-icon-selectiveColor: unquote('"\\ea22"');
$morph-icon-sendMail: unquote('"\\ea23"');
$morph-icon-sentMails: unquote('"\\ea24"');
$morph-icon-shareFile: unquote('"\\ea25"');
$morph-icon-shareFolder: unquote('"\\ea26"');
$morph-icon-shield: unquote('"\\ea27"');
$morph-icon-shieldAlt: unquote('"\\ea28"');
$morph-icon-shieldBroken: unquote('"\\ea29"');
$morph-icon-shieldReset: unquote('"\\ea2a"');
$morph-icon-shieldSecurity: unquote('"\\ea2b"');
$morph-icon-shieldUpdate: unquote('"\\ea2c"');
$morph-icon-shieldVerified: unquote('"\\ea2d"');
$morph-icon-ship: unquote('"\\ea2e"');
$morph-icon-silentNotification: unquote('"\\ea2f"');
$morph-icon-skipNext: unquote('"\\ea30"');
$morph-icon-skipPrevious: unquote('"\\ea31"');
$morph-icon-smartPhone: unquote('"\\ea32"');
$morph-icon-smileDetection: unquote('"\\ea33"');
$morph-icon-snow: unquote('"\\ea34"');
$morph-icon-snowflake: unquote('"\\ea35"');
$morph-icon-snowflakeAlt: unquote('"\\ea36"');
$morph-icon-soundsFolder: unquote('"\\ea37"');
$morph-icon-squareProfile: unquote('"\\ea38"');
$morph-icon-starredContact: unquote('"\\ea39"');
$morph-icon-starredMails: unquote('"\\ea3a"');
$morph-icon-starredMessage: unquote('"\\ea3b"');
$morph-icon-starredPhoneCall: unquote('"\\ea3c"');
$morph-icon-starredWallet: unquote('"\\ea3d"');
$morph-icon-store: unquote('"\\ea3e"');
$morph-icon-StoreBus: unquote('"\\ea3f"');
$morph-icon-storeHours: unquote('"\\ea40"');
$morph-icon-subtract: unquote('"\\ea41"');
$morph-icon-subtractContact: unquote('"\\ea42"');
$morph-icon-subtractFile: unquote('"\\ea43"');
$morph-icon-sun: unquote('"\\ea44"');
$morph-icon-sunrise: unquote('"\\ea45"');
$morph-icon-sunset: unquote('"\\ea46"');
$morph-icon-syncContact: unquote('"\\ea47"');
$morph-icon-tabletGrid: unquote('"\\ea48"');
$morph-icon-tank: unquote('"\\ea49"');
$morph-icon-telecabin: unquote('"\\ea4a"');
$morph-icon-temperatureReduction: unquote('"\\ea4b"');
$morph-icon-ticket: unquote('"\\ea4c"');
$morph-icon-ticketDownload: unquote('"\\ea4d"');
$morph-icon-ticketRefund: unquote('"\\ea4e"');
$morph-icon-ticketShare: unquote('"\\ea4f"');
$morph-icon-top: unquote('"\\ea50"');
$morph-icon-toward: unquote('"\\ea51"');
$morph-icon-trash: unquote('"\\ea52"');
$morph-icon-truck: unquote('"\\ea53"');
$morph-icon-twoDbarcode: unquote('"\\ea54"');
$morph-icon-twoXplay: unquote('"\\ea55"');
$morph-icon-uav: unquote('"\\ea56"');
$morph-icon-unarchive: unquote('"\\ea57"');
$morph-icon-union: unquote('"\\ea58"');
$morph-icon-unionAlt: unquote('"\\ea59"');
$morph-icon-unionHorizAlt: unquote('"\\ea5a"');
$morph-icon-unlock: unquote('"\\ea5b"');
$morph-icon-up: unquote('"\\ea5c"');
$morph-icon-upload: unquote('"\\ea5d"');
$morph-icon-uploadAlt: unquote('"\\ea5e"');
$morph-icon-uploadFile: unquote('"\\ea5f"');
$morph-icon-upside: unquote('"\\ea60"');
$morph-icon-upwards: unquote('"\\ea61"');
$morph-icon-verifiedContact: unquote('"\\ea62"');
$morph-icon-verifiedContactAlt: unquote('"\\ea63"');
$morph-icon-verifiedMail: unquote('"\\ea64"');
$morph-icon-verifiedStore: unquote('"\\ea65"');
$morph-icon-verifiedWallet: unquote('"\\ea66"');
$morph-icon-vespa: unquote('"\\ea67"');
$morph-icon-voiceMessage: unquote('"\\ea68"');
$morph-icon-voiceScan: unquote('"\\ea69"');
$morph-icon-volume: unquote('"\\ea6a"');
$morph-icon-volumeDecreased: unquote('"\\ea6b"');
$morph-icon-volumeDown: unquote('"\\ea6c"');
$morph-icon-volumeIncreased: unquote('"\\ea6d"');
$morph-icon-volumeProblem: unquote('"\\ea6e"');
$morph-icon-volumeUp: unquote('"\\ea6f"');
$morph-icon-wallet: unquote('"\\ea70"');
$morph-icon-walletAlert: unquote('"\\ea71"');
$morph-icon-walletCashOut: unquote('"\\ea72"');
$morph-icon-walletExpenses: unquote('"\\ea73"');
$morph-icon-walletHelp: unquote('"\\ea74"');
$morph-icon-walletHistory: unquote('"\\ea75"');
$morph-icon-walletIncome: unquote('"\\ea76"');
$morph-icon-walletPassword: unquote('"\\ea77"');
$morph-icon-walletRefresh: unquote('"\\ea78"');
$morph-icon-walletSync: unquote('"\\ea79"');
$morph-icon-walletTransaction: unquote('"\\ea7a"');
$morph-icon-warm: unquote('"\\ea7b"');
$morph-icon-warplane: unquote('"\\ea7c"');
$morph-icon-wavy: unquote('"\\ea7d"');
$morph-icon-webGrid: unquote('"\\ea7e"');
$morph-icon-wet: unquote('"\\ea7f"');
$morph-icon-windCloud: unquote('"\\ea80"');
$morph-icon-windCloudy: unquote('"\\ea81"');
$morph-icon-wind: unquote('"\\ea82"');
$morph-icon-womenProfile: unquote('"\\ea83"');
$morph-icon-wrongPassword: unquote('"\\ea84"');
$morph-icon-zanbil: unquote('"\\ea85"');

